In [17]:
import pandas as pd 
data = pd.read_csv(r'/Users/kolbywilliams/Downloads/Data-Collisions.csv')

In [18]:
neo_data =  data.drop(['X','Y','OBJECTID','INCKEY','COLDETKEY','REPORTNO','STATUS','INTKEY','EXCEPTRSNCODE','EXCEPTRSNDESC','SEVERITYCODE.1','SEVERITYDESC','SPEEDING','SDOT_COLDESC','INATTENTIONIND','PEDROWNOTGRNT','ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY'],axis=1)
neo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   SEVERITYCODE   194673 non-null  int64
 1   ADDRTYPE       192747 non-null  object
 2   LOCATION       191996 non-null  object
 3   COLLISIONTYPE  189769 non-null  object
 4   PERSONCOUNT    194673 non-null  int64
 5   PEDCOUNT       194673 non-null  int64
 6   PEDCYLCOUNT    194673 non-null  int64
 7   VEHCOUNT       194673 non-null  int64
 8   INCDATE        194673 non-null  object
 9   INCDTTM        194673 non-null  object
 10  JUNCTIONTYPE   188344 non-null  object
 11  SDOT_COLCODE   194673 non-null  int64
 12  UNDERINFL      189789 non-null  object
 13  WEATHER        189592 non-null  object
 14  ROADCOND       189661 non-null  object
 15  LIGHTCOND      189503 non-null  object
 16  SDOTCOLNUM     114936 non-null  float64
 17  ST_COLCODE     194655 non-null  object
 18  HITPARKEDCAR   194673 non-null  object
dtypes: float64(1), int64(6), object(12)
memory usage: 28.2+ MB

In [19]:
neo_data.columns

Index(['SEVERITYCODE', 'ADDRTYPE', 'LOCATION', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE', 'INCDTTM',
       'JUNCTIONTYPE', 'SDOT_COLCODE', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'SDOTCOLNUM', 'ST_COLCODE', 'HITPARKEDCAR'],
      dtype='object')

In [21]:
#transfroming int64 columms into floats
neo_data['SEVERITYCODE'].astype(float)
neo_data['PEDCOUNT'].astype(float)
neo_data['PEDCYLCOUNT'].astype(float)
neo_data['VEHCOUNT'].astype(float)
neo_data['SDOT_COLCODE'].astype(float)

0         11.0
1         16.0
2         14.0
3         11.0
4         11.0
          ...
194668    11.0
194669    14.0
194670    11.0
194671    51.0
194672    14.0
Name: SDOT_COLCODE, Length: 194673, dtype: float64

In [22]:
#getting dummy data for the object data structures
ADDRTYPEs= pd.get_dummies(neo_data['ADDRTYPE'])
#LOCs=pd.get_dummies(neo_data['LOCATION'])
COLTYPEs= pd.get_dummies(neo_data['COLLISIONTYPE'])
JUCTYPEs=pd.get_dummies(neo_data['JUNCTIONTYPE'])
UNDERINFLs= pd.get_dummies(neo_data['UNDERINFL'])
WEATHERs= pd.get_dummies(neo_data['WEATHER'])
ROADCONDs=pd.get_dummies(neo_data['ROADCOND'])
LIGHTCONDs= pd.get_dummies(neo_data['LIGHTCOND'])
ST_COLCODEs= pd.get_dummies(neo_data['ST_COLCODE'])
HITPARKEDCARs= pd.get_dummies(neo_data['HITPARKEDCAR'])

In [10]:
ADDRTYPEs.head()

   Alley  Block  Intersection
0      0      0             1
1      0      1             0
2      0      1             0
3      0      1             0
4      0      0             1

In [25]:
a_data=pd.concat([neo_data,ADDRTYPEs,COLTYPEs,JUCTYPEs,UNDERINFLs,WEATHERs,ROADCONDs,LIGHTCONDs,ST_COLCODEs,HITPARKEDCARs],axis = 1)

In [27]:
a_data.drop(['ADDRTYPE','LOCATION','COLLISIONTYPE','JUNCTIONTYPE','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND','ST_COLCODE','HITPARKEDCAR'], axis=1)

,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,SDOT_COLCODE,SDOTCOLNUM,Alley,...,8,81,82,83,84,85,87,88,N,Y
0,2,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,11,NaN,0,...,0,0,0,0,0,0,0,0,1,0
1,1,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,16,6354039.0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,14,4323031.0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,11,NaN,0,...,0,0,0,0,0,0,0,0,1,0
4,2,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,11,4028032.0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,3,0,0,2,2018/11/12 00:00:00+00,11/12/2018 8:12:00 AM,11,NaN,0,...,0,0,0,0,0,0,0,0,1,0
194669,1,2,0,0,2,2018/12/18 00:00:00+00,12/18/2018 9:14:00 AM,14,NaN,0,...,0,0,0,0,0,0,0,0,1,0
194670,2,3,0,0,2,2019/01/19 00:00:00+00,1/19/2019 9:25:00 AM,11,NaN,0,...,0,0,0,0,0,0,0,0,1,0
194671,2,2,0,1,1,2019/01/15 00:00:00+00,1/15/2019 4:48:00 PM,51,NaN,0,...,0,0,0,0,0,0,0,0,1,0
194672,1,2,0,0,2,2018/11/30 00:00:00+00,11/30/2018 3:45:00 PM,14,NaN,0,...,0,0,0,0,0,0,0,0,1,0